In [1]:
import pandas as pd
import numpy as np
import requests
import json
import asyncio 
import aiohttp
import time 

from lxml import html
from datetime import datetime

In [2]:
test = pd.read_csv('test.csv')
test['is_test'] = 1

В ходе анализа test.csv сделал вывод:
Данные только с auto.ru , б/у, оганичены годом от и до.

В ходе аналиаз auto.ru : Данные были вытащены из раметки, 2 - JSON  и чуть из html ...

Парсим данные с auto двумя способами: 
1) Как можно больше
2) Только модели марок тех авто, которые нужно оценить

На каждый способ своя модель, сравним которая лучше.

In [3]:
dfTestCarMod = test['car_url']\
                .apply(lambda x : x.split('/')[6:8] )

dfTestCarMod = pd.DataFrame(\
                            [\
                             dfTestCarMod.apply(lambda x : x[0]),\
                             dfTestCarMod.apply(lambda x : x[1])\
                            ],\
                            index=[0,1]
                           ).T

jsonTestCarMod={}

for brand in dfTestCarMod[0].unique():
    timArr=[]
    timArr = dfTestCarMod[dfTestCarMod[0] == brand][1].unique()
    jsonTestCarMod[brand]=timArr

In [4]:
len(dfTestCarMod)

34686

# Соберем все url по брендам и условиям мин и макс год + перемножим на все сортировки ...

urlFullCar = [];#Все возможные модели марок
urlIfCar = [];# Модели марок только релевантные тестовой 


sort = ['fresh_relevance_1-desc','cr_date-desc','price-asc','price-desc','year-desc','year-asc','km_age-asc','alphabet-asc','autoru_exclusive-desc','price_profitability-desc','proven_owner-desc']


for car in jsonTestCarMod.keys():
    yearMin = test[test['brand']==car].modelDate.min()
    yearMax = test[test['brand']==car].modelDate.max()
    
    carUrl = 'https://auto.ru/cars/{0}/used/?year_from={1}&year_to={2}&sort='.format(car,yearMin,yearMax)
    for so in sort:
        urlFullCar.append(carUrl+so)

        
#Каждую ссылку по условиям выже перемножим на 99 вкладок        
timArr=[]

for url in urlFullCar:
    
    for i in range(1,100):

        timArr.append(url+'&page='+str(i))
        
urlFullCar=timArr


j=1;
jEnd=len(dfTestCarMod[1].unique());

for brand in jsonTestCarMod:
    
    for model in jsonTestCarMod[brand]:
        
        timStr='{0}/{1}'.format(brand,model)
        timStr = 'https://auto.ru/cars/{0}/used/'.format(timStr)
        
        #urlIfCar.append(timStr)
        
        page = requests.get(timStr)
        tree = html.fromstring(page.content)
        timArr = tree.xpath("//a[@class='Button Button_color_whiteHoverBlue Button_size_s Button_type_link Button_width_default ListingPagination__page']/span/span")
        
        if(len (timArr) > 0  ):
            
            for i  in range(1, int( timArr[-1].text )+1):
                urlIfCar.append(timStr+'?page='+str(i))
            
        else:
            urlIfCar.append(timStr)
            
        #print(str(j)+'/'+str(jEnd))
        j+=1

In [5]:
jsonTestCarMod

{'skoda': array(['octavia', 'superb', 'octavia_rs', 'yeti', 'kodiaq', 'rapid',
        'fabia', 'roomster', 'felicia', 'karoq', 'fabia_rs', '120',
        '100_series', 'favorit', 'popular'], dtype=object),
 'audi': array(['q5', 'r8', 'q7', 'q3', 'a4', 'a3', 'a5', 'a6', 'rs7', 's6', 'rs6',
        'allroad', 'tt', 's5', 's8', 'a1', 'a8', '80', 'a7', 'rsq3', 'rs3',
        'a4_allroad', 'q8', '100', 'sq5', 's4', 'tt_rs', 'rs4', 's7',
        'rs5', '90', 'coupe', 'a2', 'tts', '920', 's3', '200', 'v8',
        'e_tron'], dtype=object),
 'honda': array(['cr_v', 'accord', 'pilot', 'civic', 'odyssey', 'stream',
        'crosstour', 'elysion', 'element', 'ridgeline', 'fit', 'hr_v',
        'shuttle', 'freed', 'odyssey_na', 'jazz', 'z', 'civic_ferio',
        's2000', 'cr_z', 'legend', 'stepwagon', 'civic_type_r', 'fr_v',
        'cr_x', 'prelude', 'mobilio_spike', 'n_box', 'zest', 'integra',
        'inspire', 'vezel', 'n_wgn', 'ascot', 'logo', 'acty', 'concerto',
        'avancier', 'saber', 'mobilio', 'crossroad', 'insight', 'torneo',
        'airwave', 'domani', 'rafaga', 'city', 'vigor', 'orthia',
        'partner'], dtype=object),
 'volvo': array(['v60_cross_country', 'xc40', 'xc60', 'c30', 'v50', 'xc90',
        'v90_cross_country', 's60', 'xc70', 'v40_cc', 's40', 's90', 'v40',
        '240_series', 's80', 'v70', 's60_cross_country', '940', '740',
        '850', 'v60', 's70', 'c70', '760', '960', '460', '440', '140'],
       dtype=object),
 'bmw': array(['x5', 'x6', 'x7', 'x3', '5er', 'x2', 'z4', 'x1', '6er', '7er',
        'x5_m', 'm5', '1er', '3er', 'x6_m', '4', 'x4', 'm2', 'm6', 'x4_m',
        '8er', 'i8', 'i3', '2er', 'm3', 'm1', 'm4', 'x3_m', '2grandtourer',
        'z1', '2activetourer', '02', 'z3', 'e3', '340', '321', 'z3m',
        '326'], dtype=object),
 'nissan': array(['patrol', 'teana', 'qashqai', 'avenir', 'x_trail', 'murano',
        'maxima', 'navara', 'pathfinder', 'note', 'tiida', 'juke',
        'terrano', 'almera_classic', 'primera', 'skyline', 'almera',
        'qashqai_plus_2', 'serena', 'ad', 'micra', 'leaf', 'gt_r', 'march',
        'sentra', 'bluebird_sylphy', 'presage', 'altima', 'np300',
        'clipper', 'prairie', 'almera_tino', 'dayz', 'fairlady_z', 'quest',
        'silvia', 'armada', '350z', 'nv200', 'juke_nismo', 'stagea',
        '280zx', 'elgrand', '300zx', 'cefiro', 'president', 'cube',
        'pulsar', 'bluebird', 'fuga', 'laurel', 'wingroad',
        'caravan_coach', 'datsun', 'gloria', 'expert', '100nx', 'safari',
        'liberty', 'cedric', 'vanette', 'sunny', 'otti', 'dayz_roox',
        'presea', 'bassara', 'terrano_regulus', 'rnessa', 'tino', '200sx',
        'lafesta', 'kix', 'largo', 'urvan'], dtype=object),
 'infiniti': array(['jx', 'fx', 'g35', 'q50', 'qx56', 'qx50', 'qx80', 'ex', 'q70',
        'qx70', 'qx60', 'm', 'qx4', 'q30', 'qx30', 'q60', 'q', 'i'],
       dtype=object),
 'mercedes': array(['v_klasse', 'c_klasse', 'gle_klasse', 'e_klasse', 's_klasse',
        'gla_class', 'slk_klasse', 'sls_amg', 'g_klasse_amg',
        'gle_klasse_coupe', 'm_klasse_amg', 'e_klasse_amg', 'glc_klasse',
        'cla_klasse', 'gl_klasse', 'b_klasse', 'a_klasse', 'gls_klasse',
        'glk_klasse', 'm_klasse', 'w124', 'viano', 'vito', 'g_klasse',
        's_class_maybach', 'c_klasse_amg', 'clc_klasse', 'clk_klasse',
        'gl_klasse_amg', 'glc_coupe', 'cls_klasse', 's_klasse_amg',
        'gle_klasse_coupe_amg', 'amg_gt', 'w201', 'cla_klasse_amg',
        'sl_klasse', 'gls_klasse_amg', 'cl_klasse', 'r_klasse',
        'gle_klasse_amg', 'cls_klasse_amg', 'sl_klasse_amg',
        'a_klasse_amg', 'w111', 'w128', 'glc_klasse_amg', 'slc_klasse',
        'glb_klasse', 'gla_class_amg', 'amg_glc_coupe', 'x_klasse',
        'cl_klasse_amg', 'maybach_gls', 'slr_klasse', 'vaneo', 'w123',
        'citan', 'w136', 'simplex', 'w114', '190_sl', 'w186', 'w188'],
       dtype=object),
 'toyota': array(['camry', 'rav_4', 'avensis', 'gt86', 'land_cruiser', 'corolla',
        'land_cruiser_prado', 'matrix', '4runner', 'sequoia', 'highlander',
        'crown', 'hilux', 'hilux_surf', 'isis', 'auris', 'vitz', 'prius',
        'yaris', 'carina', 'chaser', 'estima', 'esquire', 'verso', 'echo',
        'town_ace', 'fj_cruiser', 'venza', 'tundra', 'sienna', 'bb',
        'aqua', 'iq', 'caldina', 'fortuner', 'alphard', 'supra', 'c_hr',
        'mark_ii', 'celica', 'soarer', 'sera', 'mark_x', 'sprinter_trueno',
        'camry_solara', 'voxy', 'crown_majesta', 'altezza', 'mr2',
        'avensis_verso', 'aristo', 'harrier', 'hiace', 'verso_s',
        'vellfire', 'corolla_verso', 'regius', 'ipsum', 'cresta', 'mr_s',
        'yaris_verso', 'noah', 'lite_ace', 'blade', 'picnic',
        'corolla_spacio', 'carina_ed', 'corolla_levin', 'corolla_rumion',
        'grand_hiace', 'carina_e', 'origin', 'aygo', 'starlet', 'vanguard',
        'wish', 'probox', 'curren', 'verossa', 'sienta', 'scepter_sedan',
        'funcargo', 'progres', 'passo', 'opa', 'sparky', 'succeed',
        'premio', 'previa', 'windom', 'allex', 'corona', 'sprinter_carib',
        'spade', 'avalon', 'tercel', 'cynos', 'prius_alpha', 'sprinter',
        'master_ace_surf', 'sprinter_marino', 'cami', 'corolla_ii',
        'corsa', 'raum', 'vista', 'corona_exiv', 'mega_cruiser',
        'mark_x_zio', 'priusplus', 'ist', 'granvia', 'gaia', 'cavalier',
        'duet', 'ractis', 'nadia', 'porte', 'will_cypha', 'paseo', 'will',
        'platz'], dtype=object),
 'lexus': array(['ls', 'gs', 'es', 'is', 'lx', 'rx', 'nx', 'gx', 'ux', 'ct', 'lm',
        'rc', 'hs', 'sc'], dtype=object),
 'volkswagen': array(['touareg', 'tiguan', 'passat', 'amarok', 'polo', 'caddy',
        'passat_cc', 'jetta', 'transporter', 'scirocco', 'golf', 'touran',
        'caravelle', 'multivan', 'sharan', 'golf_plus', 'teramont',
        'vento', 'arteon', 'phaeton', 'golf_gti', 'beetle', 'eurovan',
        'california', 'golf_r', 'corrado', 'golf_r32', 'eos', 'bora',
        'polo_gti', 'lupo', 'type_1', 'pointer', 'fox', 'taro', 'atlas'],
       dtype=object),
 'mitsubishi': array(['pajero_sport', 'outlander', 'l200', 'montero', 'lancer', 'pajero',
        'montero_sport', 'galant', 'pajero_mini', 'pajero_io', 'asx',
        'colt', 'carisma', 'space_star', 'pajero_pinin', 'fto',
        'lancer_evolution', 'grandis', 'eclipse_cross', 'eclipse',
        'minicab', 'delica_d_5', 'endeavor', 'delica', 'i_miev',
        'space_wagon', 'lancer_ralliart', 'legnum', 'airtrek',
        'space_gear', 'delica_d2', 'l300', 'sigma', 'diamante', 'l400',
        'mirage', 'dingo', 'space_runner', 'chariot', 'ek_wagon', 'rvr',
        'libero', 'dion', 'emeraude', 'aspire', 'minica'], dtype=object)}

# Генерация urlFullCar_
urlFullCar_ = []
i = 1;
endI = len(urlFullCar)

for url in urlFullCar:

    page = requests.get(url)
    tree = html.fromstring(page.content)
    arr = tree.xpath("//a[@class='Link ListingItemTitle__link']")
    for item in arr:
        urlFullCar_.append(item.get('href'))

    print(str(i)+'/'+str(endI))  
    time.sleep(0.1)
        
    i+=1    
    
urlFullCar = urlFullCar_

pd.DataFrame(pd.Series(urlFullCar).unique()).to_csv('urlFullCar.csv', encoding='utf-8')

In [6]:
urlFullCar = pd.read_csv('urlFullCar.csv')['0']

In [7]:
len(urlFullCar)

96257

urlIfCar_ = []
i = 1;
endI = len(urlIfCar)

for url in urlIfCar:

    page = requests.get(url)
    tree = html.fromstring(page.content)
    arr = tree.xpath("//a[@class='Link ListingItemTitle__link']")
    for item in arr:
        urlIfCar_.append(item.get('href'))

    print(str(i)+'/'+str(endI))
        
    i+=1
urlIfCar = urlIfCar_

pd.DataFrame(pd.Series(urlIfCar).unique()).to_csv('urlIfCar.csv', encoding='utf-8')

In [8]:
urlIfCar = pd.read_csv('urlIfCar_.csv')['0']

In [9]:
urlFullCar

0        https://auto.ru/cars/used/sale/bmw/x5_m/110359...
1        https://auto.ru/cars/used/sale/bmw/x1/11057334...
2        https://auto.ru/cars/used/sale/bmw/7er/1104984...
3        https://auto.ru/cars/used/sale/bmw/7er/1102875...
4        https://auto.ru/cars/used/sale/bmw/5er/1104780...
                               ...
96252    https://auto.ru/cars/used/sale/lexus/rx/110582...
96253    https://auto.ru/cars/used/sale/lexus/rx/110600...
96254    https://auto.ru/cars/used/sale/lexus/es/110584...
96255    https://auto.ru/cars/used/sale/lexus/gx/110503...
96256    https://auto.ru/cars/used/sale/lexus/lx/110600...
Name: 0, Length: 96257, dtype: object

In [10]:
urlIfCar

0         https://auto.ru/cars/used/sale/skoda/octavia/1...
1         https://auto.ru/cars/used/sale/skoda/octavia/1...
2         https://auto.ru/cars/used/sale/skoda/octavia/1...
3         https://auto.ru/cars/used/sale/skoda/octavia/1...
4         https://auto.ru/cars/used/sale/skoda/octavia/1...
                                ...
106322    https://auto.ru/cars/used/sale/mitsubishi/mini...
106323    https://auto.ru/cars/used/sale/mitsubishi/mini...
106324    https://auto.ru/cars/used/sale/mitsubishi/mini...
106325    https://auto.ru/cars/used/sale/mitsubishi/mini...
106326    https://auto.ru/cars/used/sale/mitsubishi/mini...
Name: 0, Length: 106327, dtype: object

urlIfCar - Ссылка на авто только моделей из выборки для оценки

urlFullCar - Ссылки на авто, все подрят

In [16]:
from time import time, sleep
import asyncio 
import aiohttp

import requests
import json
from lxml import html

import pandas as pd
import numpy as np

import asyncio

from requests.api import get 

import tracemalloc

tracemalloc.start()


urlFullCar = pd.read_csv('urlFullCar.csv')['0']
urlIfCar = pd.read_csv('urlIfCar_.csv')['0']

print(len(urlFullCar))
print(len(urlIfCar))

async def get_date(url,session):
    obj1, obj2 , arr = await get_contens(url,session)

    if not 'price' in obj1['offers']:
        
        return ['price']

    bodyType = obj1['bodyType']
    brand = obj1['brand']
    car_url = url
    color = obj1['color']
    complectation_dict = obj2['card']['vehicle_info']['complectation']
    description = obj1['description']
    engineDisplacement = obj1['vehicleEngine']['engineDisplacement']
    enginePower = obj1['vehicleEngine']['enginePower'] 
    equipment_dict = obj2['card']['vehicle_info']['equipment']
    fuelType = obj1['fuelType']
    image = obj1['image']
    mileage = obj2['card']['state']['mileage']
    modelDate = obj1['modelDate']
    model_info = obj2['card']['vehicle_info']['model_info']
    model_name =obj2['card']['vehicle_info']['model_info']['code']
    name = obj2['card']['vehicle_info']['tech_param']['human_name']
    numberOfDoors = obj1['numberOfDoors']
    parsing_unixtime = int(time())
    priceCurrency = obj1['offers']['priceCurrency']
    productionDate = obj1['productionDate']
    sell_id = 0
    super_gen = obj2['card']['vehicle_info']['tech_param']
    vehicleConfiguration = obj1['vehicleConfiguration']
    vehicleTransmission = obj1['vehicleTransmission']
    vendor = obj2['card']['vehicle_info']['vendor']
    Владельцы = arr[0]
    Владение = 0# Нет инфы
    ПТС = arr[1]
    Привод = arr[2]
    Руль = arr[3]
    Состояние  = arr[4]
    Таможня  = arr[5]
    price = obj1['offers']['price']

    timArr = [bodyType, brand, car_url, color, complectation_dict,
           description, engineDisplacement, enginePower, str(equipment_dict),
           fuelType, image, mileage, modelDate, model_info, model_name,
           name, numberOfDoors, parsing_unixtime, priceCurrency,
           productionDate, sell_id, super_gen, vehicleConfiguration,
           vehicleTransmission, vendor, Владельцы, Владение, ПТС,
           Привод, Руль, Состояние, Таможня,price]

    return(timArr)



async def get_contens(url,session):
    
    async with session.get(url) as response:

        resText = await response.text()
        tree = html.fromstring(resText)
        obj1 = json.loads( \
                    tree.xpath("//head/script[@type='application/ld+json']")[0].text\
                )

        obj2 = json.loads( \
            tree.xpath("//script[@id='initial-state']")[0].text\
        )    


        Владельцы = tree.xpath("//li[@class = 'CardInfoRow CardInfoRow_ownersCount']/span")[1].text
        ПТС = tree.xpath("//li[@class='CardInfoRow CardInfoRow_pts']/span")[1].text
        Привод = tree.xpath("//li[@class='CardInfoRow CardInfoRow_drive']/span")[1].text
        Руль = tree.xpath("//li[@class='CardInfoRow CardInfoRow_wheel']/span")[1].text
        Состояние  = tree.xpath("//li[@class='CardInfoRow CardInfoRow_state']/span")[1].text
        Таможня  = tree.xpath("//li[@class='CardInfoRow CardInfoRow_customs']/span")[1].text


    return [obj1,obj2,[Владельцы,ПТС,Привод,Руль,Состояние,Таможня]]





async def main(urlArr):
    
    dataArr = []

    tasks = []

    async with aiohttp.ClientSession() as session:
        for url in urlArr:
            task = asyncio.create_task(get_date(url,session))
            tasks.append(task)

        print('stop for!')
        dataArr.append(await asyncio.gather(*tasks))

96257
106327

In [17]:
if __name__ == '__main__':
    t0 = time()
    asyncio.run(main(urlIfCar))
    print(time()-t0)

RuntimeError: asyncio.run() cannot be called from a running event loop

In [22]:
def ferch_date(url):   
  
    page = requests.get(url)
    tree = html.fromstring(page.content)

    jsDataOne = json.loads( \
                       tree.xpath("//head/script[@type='application/ld+json']")[0].text\
                      )
    jsDataTwo = json.loads( \
               tree.xpath("//script[@id='initial-state']")[0].text\
              )

    if not 'price' in jsDataOne['offers']:
        
        return []

    bodyType = jsDataOne['bodyType']
    brand = jsDataOne['brand']
    car_url = url
    color = jsDataOne['color']
    complectation_dict = jsDataTwo['card']['vehicle_info']['complectation']
    description = jsDataOne['description']
    engineDisplacement = jsDataOne['vehicleEngine']['engineDisplacement']
    enginePower = jsDataOne['vehicleEngine']['enginePower'] 
    equipment_dict = jsDataTwo['card']['vehicle_info']['equipment']
    fuelType = jsDataOne['fuelType']
    image = jsDataOne['image']
    mileage = jsDataTwo['card']['state']['mileage']
    modelDate = jsDataOne['modelDate']
    model_info = jsDataTwo['card']['vehicle_info']['model_info']
    model_name =jsDataTwo['card']['vehicle_info']['model_info']['code']
    name = jsDataTwo['card']['vehicle_info']['tech_param']['human_name']
    numberOfDoors = jsDataOne['numberOfDoors']
    parsing_unixtime = int(time.mktime(datetime.now().timetuple()))
    priceCurrency = jsDataOne['offers']['priceCurrency']
    productionDate = jsDataOne['productionDate']
    sell_id = 0
    super_gen = jsDataTwo['card']['vehicle_info']['tech_param']
    vehicleConfiguration = jsDataOne['vehicleConfiguration']
    vehicleTransmission = jsDataOne['vehicleTransmission']
    vendor = jsDataTwo['card']['vehicle_info']['vendor']
    Владельцы = tree.xpath("//li[@class = 'CardInfoRow CardInfoRow_ownersCount']/span")[1].text
    Владение = 0# Нет инфы
    ПТС = tree.xpath("//li[@class='CardInfoRow CardInfoRow_pts']/span")[1].text
    Привод = tree.xpath("//li[@class='CardInfoRow CardInfoRow_drive']/span")[1].text
    Руль = tree.xpath("//li[@class='CardInfoRow CardInfoRow_wheel']/span")[1].text
    Состояние  = tree.xpath("//li[@class='CardInfoRow CardInfoRow_state']/span")[1].text
    Таможня  = tree.xpath("//li[@class='CardInfoRow CardInfoRow_customs']/span")[1].text
    price = jsDataOne['offers']['price']

    timArr = [bodyType, brand, car_url, color, complectation_dict,
           description, engineDisplacement, enginePower, str(equipment_dict),
           fuelType, image, mileage, modelDate, model_info, model_name,
           name, numberOfDoors, parsing_unixtime, priceCurrency,
           productionDate, sell_id, super_gen, vehicleConfiguration,
           vehicleTransmission, vendor, Владельцы, Владение, ПТС,
           Привод, Руль, Состояние, Таможня,price]

    #timData=pd.DataFrame(np.array([timArr]),\
    #                    columns=['bodyType', 'brand', 'car_url', 'color', 'complectation_dict',
    #       'description', 'engineDisplacement', 'enginePower', 'equipment_dict',
    #       'fuelType', 'image', 'mileage', 'modelDate', 'model_info', 'model_name',
    #       'name', 'numberOfDoors', 'parsing_unixtime', 'priceCurrency',
    #       'productionDate', 'sell_id', 'super_gen', 'vehicleConfiguration',
    #       'vehicleTransmission', 'vendor', 'Владельцы', 'Владение', 'ПТС',
    #       'Привод', 'Руль', 'Состояние', 'Таможня','price'])
    
    return(timArr)

In [11]:
urlIfCar[0]

'https://auto.ru/cars/used/sale/skoda/octavia/1105878245-472c3ac4/'

In [28]:
from multiprocessing import Pool

def f(x):
    return x*x
    

start = time.time()
p = Pool(6)
dataUrlIfCar = p.map(funcGetParam, urlIfCar)

print('Время {0} sec'.format(-1*start + time.time()))

IndexError: list index out of range

In [29]:
len(dataUrlIfCar)

1000

In [32]:
start = time()

In [46]:
(-1*start + time())

56.303168058395386

In [26]:
len(dataUrlIfCar)

1000

In [33]:
start

1637585483.3487368

In [7]:
arrFullCar = []

In [11]:
for i in range(0,20):
    arrFullCar.append(pd.read_csv('train_{}.csv'.format(i)))

In [14]:
arrFullCar

[      Unnamed: 0                                                  0
 0              0  ['внедорожник 5 дв.', 'BMW', 'https://auto.ru/...
 1              1  ['внедорожник 5 дв.', 'BMW', 'https://auto.ru/...
 2              2  ['седан', 'BMW', 'https://auto.ru/cars/used/sa...
 3              3  ['седан', 'BMW', 'https://auto.ru/cars/used/sa...
 4              4                                          ['price']
 ...          ...                                                ...
 4995        4995  ['седан', 'BMW', 'https://auto.ru/cars/used/sa...
 4996        4996  ['седан', 'BMW', 'https://auto.ru/cars/used/sa...
 4997        4997  ['седан', 'BMW', 'https://auto.ru/cars/used/sa...
 4998        4998                                          ['price']
 4999        4999  ['седан', 'BMW', 'https://auto.ru/cars/used/sa...

 [5000 rows x 2 columns],
       Unnamed: 0                                                  0
 0              0                                          ['price']
 1              1  ['седан', 'BMW', 'https://auto.ru/cars/used/sa...
 2              2  ['седан', 'BMW', 'https://auto.ru/cars/used/sa...
 3              3  ['седан', 'BMW', 'https://auto.ru/cars/used/sa...
 4              4  ['седан', 'BMW', 'https://auto.ru/cars/used/sa...
 ...          ...                                                ...
 4995        4995  ['седан', 'BMW', 'https://auto.ru/cars/used/sa...
 4996        4996                                          ['price']
 4997        4997  ['седан', 'BMW', 'https://auto.ru/cars/used/sa...
 4998        4998                                          ['price']
 4999        4999  ['седан', 'BMW', 'https://auto.ru/cars/used/sa...

 [5000 rows x 2 columns],
       Unnamed: 0                                                  0
 0              0                                          ['price']
 1              1  ['купе', 'BMW', 'https://auto.ru/cars/used/sal...
 2              2                                          ['price']
 3              3  ['купе', 'BMW', 'https://auto.ru/cars/used/sal...
 4              4  ['седан', 'BMW', 'https://auto.ru/cars/used/sa...
 ...          ...                                                ...
 4995        4995  ['внедорожник 5 дв.', 'VOLKSWAGEN', 'https://a...
 4996        4996                                          ['price']
 4997        4997  ['седан', 'VOLKSWAGEN', 'https://auto.ru/cars/...
 4998        4998  ['хэтчбек 5 дв.', 'VOLKSWAGEN', 'https://auto....
 4999        4999  ['внедорожник 5 дв.', 'VOLKSWAGEN', 'https://a...

 [5000 rows x 2 columns],
       Unnamed: 0                                                  0
 0              0                                          ['price']
 1              1  ['внедорожник 5 дв.', 'VOLKSWAGEN', 'https://a...
 2              2  ['седан', 'VOLKSWAGEN', 'https://auto.ru/cars/...
 3              3  ['внедорожник 5 дв.', 'VOLKSWAGEN', 'https://a...
 4              4                                          ['price']
 ...          ...                                                ...
 4995        4995  ['внедорожник 5 дв.', 'VOLKSWAGEN', 'https://a...
 4996        4996  ['внедорожник 5 дв.', 'VOLKSWAGEN', 'https://a...
 4997        4997                                          ['price']
 4998        4998  ['внедорожник 5 дв.', 'VOLKSWAGEN', 'https://a...
 4999        4999  ['компактвэн', 'VOLKSWAGEN', 'https://auto.ru/...

 [5000 rows x 2 columns],
       Unnamed: 0                                                  0
 0              0  ['лифтбек', 'VOLKSWAGEN', 'https://auto.ru/car...
 1              1  ['седан', 'VOLKSWAGEN', 'https://auto.ru/cars/...
 2              2                                          ['price']
 3              3  ['внедорожник 5 дв.', 'VOLKSWAGEN', 'https://a...
 4              4  ['внедорожник 5 дв.', 'VOLKSWAGEN', 'https://a...
 ...          ...                                                ...
 4995        4995  ['седан', 'NISSAN', 'https://auto.ru/cars/used...
 4996        4996  ['внедорожник 5 дв.', 'NISSAN', 'https://auto....
 4997        4997                                          ['price']
 4998        4998  ['внедорожник 5 дв.', 'NISSAN', 'https://auto....
 4999        4999  ['внедорожник 5 дв.', 'NISSAN', 'https://auto....

 [5000 rows x 2 columns],
       Unnamed: 0                                                  0
 0              0  ['седан', 'NISSAN', 'https://auto.ru/cars/used...
 1              1  ['внедорожник 5 дв.', 'NISSAN', 'https://auto....
 2              2                                          ['price']
 3              3  ['внедорожник 5 дв.', 'NISSAN', 'https://auto....
 4              4  ['внедорожник 5 дв.', 'NISSAN', 'https://auto....
 ...          ...                                                ...
 4995        4995  ['универсал 5 дв.', 'NISSAN', 'https://auto.ru...
 4996        4996  ['универсал 5 дв.', 'NISSAN', 'https://auto.ru...
 4997        4997                                          ['price']
 4998        4998  ['седан', 'NISSAN', 'https://auto.ru/cars/used...
 4999        4999  ['компактвэн', 'NISSAN', 'https://auto.ru/cars...

 [5000 rows x 2 columns],
       Unnamed: 0                                                  0
 0              0  ['седан', 'NISSAN', 'https://auto.ru/cars/used...
 1              1  ['компактвэн', 'NISSAN', 'https://auto.ru/cars...
 2              2  ['минивэн', 'NISSAN', 'https://auto.ru/cars/us...
 3              3  ['хэтчбек 5 дв.', 'NISSAN', 'https://auto.ru/c...
 4              4  ['седан', 'NISSAN', 'https://auto.ru/cars/used...
 ...          ...                                                ...
 4995        4995                                          ['price']
 4996        4996                                          ['price']
 4997        4997  ['внедорожник 5 дв.', 'NISSAN', 'https://auto....
 4998        4998  ['седан', 'NISSAN', 'https://auto.ru/cars/used...
 4999        4999  ['внедорожник 5 дв.', 'NISSAN', 'https://auto....

 [5000 rows x 2 columns],
       Unnamed: 0                                                  0
 0              0  ['хэтчбек 5 дв.', 'NISSAN', 'https://auto.ru/c...
 1              1  ['внедорожник 5 дв.', 'NISSAN', 'https://auto....
 2              2                                          ['price']
 3              3  ['внедорожник 5 дв.', 'NISSAN', 'https://auto....
 4              4  ['внедорожник 5 дв.', 'NISSAN', 'https://auto....
 ...          ...                                                ...
 4995        4995                                          ['price']
 4996        4996                                          ['price']
 4997        4997  ['седан', 'MERCEDES', 'https://auto.ru/cars/us...
 4998        4998  ['минивэн', 'MERCEDES', 'https://auto.ru/cars/...
 4999        4999  ['седан', 'MERCEDES', 'https://auto.ru/cars/us...

 [5000 rows x 2 columns],
       Unnamed: 0                                                  0
 0              0                                          ['price']
 1              1  ['внедорожник 5 дв.', 'MERCEDES', 'https://aut...
 2              2  ['внедорожник 5 дв.', 'MERCEDES', 'https://aut...
 3              3  ['родстер', 'MERCEDES', 'https://auto.ru/cars/...
 4              4  ['седан', 'MERCEDES', 'https://auto.ru/cars/us...
 ...          ...                                                ...
 4995        4995  ['внедорожник 5 дв.', 'MERCEDES', 'https://aut...
 4996        4996  ['седан', 'MERCEDES', 'https://auto.ru/cars/us...
 4997        4997  ['внедорожник 5 дв.', 'MERCEDES', 'https://aut...
 4998        4998  ['внедорожник 5 дв.', 'MERCEDES', 'https://aut...
 4999        4999  ['внедорожник 5 дв.', 'MERCEDES', 'https://aut...

 [5000 rows x 2 columns],
       Unnamed: 0                                                  0
 0              0  ['внедорожник 5 дв.', 'MERCEDES', 'https://aut...
 1              1  ['внедорожник 5 дв.', 'MERCEDES', 'https://aut...
 2              2                                          ['price']
 3              3  ['внедорожник 5 дв.', 'MERCEDES', 'https://aut...
 4              4  ['внедорожник 5 дв.', 'MERCEDES', 'https://aut...
 ...          ...                                                ...
 4995        4995                                          ['price']
 4996        4996  ['внедорожник 5 дв.', 'TOYOTA', 'https://auto....
 4997        4997  ['внедорожник 5 дв.', 'TOYOTA', 'https://auto....
 4998        4998  ['внедорожник 5 дв.', 'TOYOTA', 'https://auto....
 4999        4999                                          ['price']

 [5000 rows x 2 columns],
       Unnamed: 0                                                  0
 0              0  ['внедорожник 5 дв.', 'TOYOTA', 'https://auto....
 1              1                                          ['price']
 2              2  ['внедорожник 5 дв.', 'TOYOTA', 'https://auto....
 3              3  ['внедорожник 5 дв.', 'TOYOTA', 'https://auto....
 4              4  ['минивэн', 'TOYOTA', 'https://auto.ru/cars/us...
 ...          ...                                                ...
 4995        4995  ['седан', 'TOYOTA', 'https://auto.ru/cars/used...
 4996        4996  ['универсал 5 дв.', 'TOYOTA', 'https://auto.ru...
 4997        4997                                          ['price']
 4998        4998  ['универсал 5 дв.', 'TOYOTA', 'https://auto.ru...
 4999        4999                                          ['price']

 [5000 rows x 2 columns],
       Unnamed: 0                                                  0
 0              0  ['седан', 'TOYOTA', 'https://auto.ru/cars/used...
 1              1  ['седан', 'TOYOTA', 'https://auto.ru/cars/used...
 2              2  ['хэтчбек 3 дв.', 'TOYOTA', 'https://auto.ru/c...
 3              3                                          ['price']
 4              4  ['седан', 'TOYOTA', 'https://auto.ru/cars/used...
 ...          ...                                                ...
 4995        4995  ['седан', 'TOYOTA', 'https://auto.ru/cars/used...
 4996        4996  ['внедорожник 5 дв.', 'TOYOTA', 'https://auto....
 4997        4997  ['универсал 5 дв.', 'TOYOTA', 'https://auto.ru...
 4998        4998  ['седан', 'TOYOTA', 'https://auto.ru/cars/used...
 4999        4999  ['седан', 'TOYOTA', 'https://auto.ru/cars/used...

 [5000 rows x 2 columns],
       Unnamed: 0                                                  0
 0              0                                          ['price']
 1              1  ['универсал 5 дв.', 'TOYOTA', 'https://auto.ru...
 2              2  ['внедорожник 5 дв.', 'TOYOTA', 'https://auto....
 3              3  ['хэтчбек 5 дв.', 'TOYOTA', 'https://auto.ru/c...
 4              4  ['внедорожник 5 дв.', 'TOYOTA', 'https://auto....
 ...          ...                                                ...
 4995        4995                                          ['price']
 4996        4996  ['седан', 'AUDI', 'https://auto.ru/cars/used/s...
 4997        4997                                          ['price']
 4998        4998                                          ['price']
 4999        4999  ['седан', 'AUDI', 'https://auto.ru/cars/used/s...

 [5000 rows x 2 columns],
       Unnamed: 0                                                  0
 0              0                                          ['price']
 1              1  ['лифтбек', 'AUDI', 'https://auto.ru/cars/used...
 2              2  ['седан', 'AUDI', 'https://auto.ru/cars/used/s...
 3              3  ['внедорожник 5 дв.', 'AUDI', 'https://auto.ru...
 4              4  ['седан', 'AUDI', 'https://auto.ru/cars/used/s...
 ...          ...                                                ...
 4995        4995  ['седан', 'AUDI', 'https://auto.ru/cars/used/s...
 4996        4996                                          ['price']
 4997        4997  ['седан', 'AUDI', 'https://auto.ru/cars/used/s...
 4998        4998  ['седан', 'AUDI', 'https://auto.ru/cars/used/s...
 4999        4999  ['седан', 'AUDI', 'https://auto.ru/cars/used/s...

 [5000 rows x 2 columns],
       Unnamed: 0                                                  0
 0              0  ['седан', 'AUDI', 'https://auto.ru/cars/used/s...
 1              1  ['седан', 'AUDI', 'https://auto.ru/cars/used/s...
 2              2  ['хэтчбек 3 дв.', 'AUDI', 'https://auto.ru/car...
 3              3  ['седан', 'AUDI', 'https://auto.ru/cars/used/s...
 4              4  ['седан', 'AUDI', 'https://auto.ru/cars/used/s...
 ...          ...                                                ...
 4995        4995  ['внедорожник 3 дв.', 'MITSUBISHI', 'https://a...
 4996        4996  ['внедорожник 5 дв.', 'MITSUBISHI', 'https://a...
 4997        4997  ['внедорожник 5 дв.', 'MITSUBISHI', 'https://a...
 4998        4998  ['седан', 'MITSUBISHI', 'https://auto.ru/cars/...
 4999        4999                                          ['price']

 [5000 rows x 2 columns],
       Unnamed: 0                                                  0
 0              0  ['седан', 'MITSUBISHI', 'https://auto.ru/cars/...
 1              1  ['внедорожник 5 дв.', 'MITSUBISHI', 'https://a...
 2              2  ['седан', 'MITSUBISHI', 'https://auto.ru/cars/...
 3              3                                          ['price']
 4              4                                          ['price']
 ...          ...                                                ...
 4995        4995  ['лифтбек', 'SKODA', 'https://auto.ru/cars/use...
 4996        4996                                          ['price']
 4997        4997  ['внедорожник 5 дв.', 'SKODA', 'https://auto.r...
 4998        4998                                          ['price']
 4999        4999  ['лифтбек', 'SKODA', 'https://auto.ru/cars/use...

 [5000 rows x 2 columns],
       Unnamed: 0                                                  0
 0              0  ['лифтбек', 'SKODA', 'https://auto.ru/cars/use...
 1              1  ['лифтбек', 'SKODA', 'https://auto.ru/cars/use...
 2              2  ['лифтбек', 'SKODA', 'https://auto.ru/cars/use...
 3              3  ['лифтбек', 'SKODA', 'https://auto.ru/cars/use...
 4              4                                          ['price']
 ...          ...                                                ...
 4995        4995  ['седан', 'VOLVO', 'https://auto.ru/cars/used/...
 4996        4996  ['внедорожник 5 дв.', 'VOLVO', 'https://auto.r...
 4997        4997                                          ['price']
 4998        4998  ['внедорожник 5 дв.', 'VOLVO', 'https://auto.r...
 4999        4999  ['хэтчбек 5 дв.', 'VOLVO', 'https://auto.ru/ca...

 [5000 rows x 2 columns],
       Unnamed: 0                                                  0
 0              0  ['седан', 'VOLVO', 'https://auto.ru/cars/used/...
 1              1  ['универсал 5 дв.', 'VOLVO', 'https://auto.ru/...
 2              2  ['внедорожник 5 дв.', 'VOLVO', 'https://auto.r...
 3              3  ['седан', 'VOLVO', 'https://auto.ru/cars/used/...
 4              4  ['хэтчбек 5 дв.', 'VOLVO', 'https://auto.ru/ca...
 ...          ...                                                ...
 4995        4995  ['внедорожник 5 дв.', 'HONDA', 'https://auto.r...
 4996        4996                                          ['price']
 4997        4997                                          ['price']
 4998        4998                                          ['price']
 4999        4999  ['хэтчбек 5 дв.', 'HONDA', 'https://auto.ru/ca...

 [5000 rows x 2 columns],
       Unnamed: 0                                                  0
 0              0  ['седан', 'HONDA', 'https://auto.ru/cars/used/...
 1              1                                          ['price']
 2              2  ['седан', 'HONDA', 'https://auto.ru/cars/used/...
 3              3  ['седан', 'HONDA', 'https://auto.ru/cars/used/...
 4              4  ['внедорожник 5 дв.', 'HONDA', 'https://auto.r...
 ...          ...                                                ...
 4995        4995  ['внедорожник 5 дв.', 'LEXUS', 'https://auto.r...
 4996        4996  ['внедорожник 5 дв.', 'LEXUS', 'https://auto.r...
 4997        4997                                          ['price']
 4998        4998                                          ['price']
 4999        4999  ['внедорожник 5 дв.', 'LEXUS', 'https://auto.r...

 [5000 rows x 2 columns],
       Unnamed: 0                                                  0
 0              0  ['внедорожник 5 дв.', 'LEXUS', 'https://auto.r...
 1              1  ['седан', 'LEXUS', 'https://auto.ru/cars/used/...
 2              2                                          ['price']
 3              3  ['внедорожник 5 дв.', 'LEXUS', 'https://auto.r...
 4              4  ['внедорожник 5 дв.', 'LEXUS', 'https://auto.r...
 ...          ...                                                ...
 1252        1252                                          ['price']
 1253        1253  ['внедорожник 5 дв.', 'LEXUS', 'https://auto.r...
 1254        1254  ['седан', 'LEXUS', 'https://auto.ru/cars/used/...
 1255        1255  ['внедорожник 5 дв.', 'LEXUS', 'https://auto.r...
 1256        1256  ['внедорожник 5 дв.', 'LEXUS', 'https://auto.r...

 [1257 rows x 2 columns]]

In [24]:
trainFull = pd.DataFrame(np.concatenate(arrFullCar))[1]

In [26]:
trainFull.to_csv('trainFull.csv')

In [30]:
arrIfCat = []

In [31]:
for i in range(0,22):
    arrIfCat.append(pd.read_csv('train_if_{}.csv'.format(i)))

In [32]:
trainIf = pd.DataFrame(np.concatenate(arrIfCat))[1]

In [34]:
trainIf.to_csv('trainIf.csv')